body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #cccccc;

}

.backVid{
    height: 100vh;
    width: 100%;
    background: #cccccc;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    place-content: center;
    z-index: 0;
    overflow: hidden;
}

.testVideo .findVid{
    transform: scale(1);
    opacity: 100%;
    transition: 1s;
}

.findVid{
    width: 90%;
    transform: scale(1.5);
    opacity: 0%;
    transition: 1s;
}

.content{
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    align-items: center;
    .intContent{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        height: 98.5%;
        width: 100%;
        .headerContent{
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            background: rgb(22, 22, 22);
            border-radius: 30px;
            padding: 5px 5px;
            width: 98%;
            max-width: 3000px;
            >:nth-child(1){
                display: flex;
                flex-flow: row wrap;
                >div{
                    color: white;
                    height: 100%;
                    padding: 10px 27.5px;
                    background: black;
                    border: 1px solid white;
                    border-radius: 30px;
                    cursor: pointer;
                }
                >:nth-child(1){
                    color: rgb(0, 0, 0);
                    background: rgb(255, 255, 255);
                    border: 1px solid rgb(0, 0, 0);
                    
                }
            }
            >:nth-child(2){
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                div{
                    height: 100%;
                    cursor: pointer;
                }
                >:nth-child(1){
                    color: white;
                    background: black;
                    border: 1px solid white;
                    border-radius: 30px;
                    padding: 10px 27.5px;
                    display: none;
                }
                >:nth-child(2), >:nth-child(3){
                    background: black;
                    border: 1px solid black;
                    border-radius: 50%;
                    display: flex;
                    place-content: center;
                    padding: 10px;
                    border: 1px solid white;

                    div{
                        width: 100%;
                        max-width: 20px;
                        display: flex;
                        place-content: center;
                        img{
                            width: 100%;
                        }
                    }
                }
                >:nth-child(4){
                    color: white;
                    background: black;
                    border: 1px solid white;
                    border-radius: 30px;
                    padding: 10px 27.5px;
                }
            }
        }
    }
}

@media (max-width: 1000px){

}
