@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #cccccc;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.backVid {
  height: 100vh;
  width: 100%;
  background: #cccccc;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  z-index: 0;
  overflow: hidden;
}

.testVideo .findVid {
  -webkit-transform: scale(1) translateY(10px);
          transform: scale(1) translateY(10px);
  opacity: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.findVid {
  width: 90%;
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0%;
  -webkit-transition: 1s;
  transition: 1s;
}

.content {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .intContent {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 97%;
  width: 98.5%;
}
.content .intContent > :nth-child(1) {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  border-radius: 30px;
  width: 100%;
  max-width: 3000px;
}
.content .intContent > :nth-child(1) .headerContent {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000000;
  border-radius: 30px;
  width: 100%;
  padding: 5px;
}
.content .intContent > :nth-child(1) .headerContent > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}
.content .intContent > :nth-child(1) .headerContent > div > div {
  height: 100%;
  cursor: pointer;
  padding: 8px 22.5px;
  font-size: 14px;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  color: #e1e1e1;
  text-align: center;
}
.content .intContent > :nth-child(1) .headerContent > :nth-child(1) > :nth-child(1) {
  background-color: white;
  border-color: white;
  color: #000000;
}
.content .intContent > :nth-child(1) .headerContent > :nth-child(1) > :nth-child(2):hover, .content .intContent > :nth-child(1) .headerContent > :nth-child(1) > :nth-child(3):hover, .content .intContent > :nth-child(1) .headerContent > :nth-child(1) > :nth-child(4):hover {
  background: #2c2c2c;
}
.content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(1) {
  display: none;
}
.content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(1):hover {
  background: #2c2c2c;
}
.content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(2), .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(3) {
  padding: 0;
  padding: 3px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}
.content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(2) div, .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(3) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  width: 100%;
  max-width: 15px;
  padding: 5px;
}
.content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(2) div img, .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(3) div img {
  width: 100%;
}
.content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(4) {
  background-color: #2c2c2c;
}

@media (max-width: 800px) {
  .content .intContent > :nth-child(1) .headerContent {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content .intContent > :nth-child(1) .headerContent > div > div {
    padding: 8px 22.5px;
    font-size: 14px;
  }
  .content .intContent > :nth-child(1) .headerContent > :nth-child(1) > :nth-child(2), .content .intContent > :nth-child(1) .headerContent > :nth-child(1) > :nth-child(3) {
    display: none;
  }
  .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(1) {
    display: none;
  }
  .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(2), .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(3) {
    padding: 3px;
  }
  .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(2) div, .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(3) div {
    max-width: 15px;
    padding: 5px;
  }
}
@media (max-width: 500px) {
  .content .intContent > :nth-child(1) .headerContent {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content .intContent > :nth-child(1) .headerContent > div {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .intContent > :nth-child(1) .headerContent > div > div {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }
  .content .intContent > :nth-child(1) .headerContent > :nth-child(1) > :nth-child(2), .content .intContent > :nth-child(1) .headerContent > :nth-child(1) > :nth-child(3), .content .intContent > :nth-child(1) .headerContent > :nth-child(1) > :nth-child(4) {
    display: none;
  }
  .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(1) {
    display: block;
  }
  .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(2), .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(3), .content .intContent > :nth-child(1) .headerContent > :nth-child(2) > :nth-child(4) {
    display: none;
  }
}